<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="Content-Language" content="en" />
<meta
  name="keywords"
  content="school management system, student management, school administration, attendance tracking, grading system, parent-teacher communication, education management"
/>
<meta
  name="title"
  property="og:title"
  content="MySchool Manager | Efficient School Management System"
/>
<meta property="og:type" content="website" />
<meta
  name="description"
  property="og:description"
  content="Discover MySchool Manager, an efficient school management system that simplifies student attendance tracking, grade analysis, and parent-teacher communication."
/>
<meta
  name="image"
  property="og:image"
  content="https://example.com/path-to-school-management-image.jpg"
/>
<meta name="twitter:card" content="summary" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Poppins:wght@300&display=swap"
/>
<meta name="robots" content="all" />
<meta http-equiv="content-language" content="en" />
<meta name="next-head-count" content="17" />

 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
  <!-- Google Fonts Roboto -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
 <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" sizes="180x180">
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  
 <!-- full calendar -->
 <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet" />

 
 
 <title>BrainWave School Management System</title>
 <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" href="/css/bootstrap.css" />
