<%- include('layouts/header') %>
<link rel="stylesheet" href="/css/student.css" />
</head>
<body>
  <header>
    <%- include('layouts/sidebar') %>
  </header>
  <section class="h-100" style="background-color: #fff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  <nav aria-label="breadcrumb" class="breadcrumb mt-2">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="/">Home</a>
                      </li> 
                      <li class="breadcrumb-item">
                        <a href="/dashboard">Dashboard</a>
                      </li> 
                      <li class="breadcrumb-item active" aria-current="page">Class</li>
                    </ol>
                  </nav>
                  <div class="text-center">
                    <h4 class="mt-1 mb-3 pb-1">CLASS REGISTRATION</h4>
                  </div>

                  <!-- Bootstrap tabs -->
                  <ul class="nav nav-tabs" id="classTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="junior-high-tab" data-bs-toggle="tab" href="#junior-high" role="tab" aria-controls="junior-high" aria-selected="true">Junior High</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="senior-high-tab" data-bs-toggle="tab" href="#senior-high" role="tab" aria-controls="senior-high" aria-selected="false">Senior High</a>
                    </li>
                  </ul>

                  <!-- Tab content -->
                  <div class="tab-content" id="classTabContent">
                    <!-- Junior High Form -->
                    <div class="tab-pane fade show active" id="junior-high" role="tabpanel" aria-labelledby="junior-high-tab">
                      <form action="/juniorhighclass-registration" method="post" autocomplete="off">
                        <div class="mb-4 mt-4">
                          <label class="form-label" for="classname">Class Name</label>
                          <input type="text" id="className" name="className" class="form-control" placeholder="e.g. 8th Grade" />
                        </div>
                        <div class="text-center pt-1">
                          <button class="btn btn-primary btn-lg btn-block mb-3" type="submit" style="width: 100%;" id="junior_class_btn">Create Junior High Class <i class="fa fa-arrow-right" id="right-arrow"></i></button>
                        </div>
                      </form>
                    </div>

                    <!-- Senior High Form -->
                    <div class="tab-pane fade" id="senior-high" role="tabpanel" aria-labelledby="senior-high-tab">
                      <form action="/seniorhighclass-registration" method="post" autocomplete="off">
                        <div class="mb-4 mt-4">
                          <label class="form-label" for="classname">Class Name</label>
                          <input type="text" id="className" name="className" class="form-control" placeholder="e.g. 12th Grade" />
                        </div>
                        <div class="text-center pt-1">
                          <button class="btn btn-primary btn-lg btn-block mb-3" type="submit" style="width: 100%;" id="senior_class_btn">Create Senior High Class <i class="fa fa-arrow-right" id="right-arrow"></i></button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center" style="background: linear-gradient(45deg, #ff416c, #ff4b2b);">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">CLASS CREATION</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>
  <div class="d-flex justify-content-center align-items-center vh-100 " style="width: 60%; margin-left: 20pc;">
  <div class="container" style="margin-top: -15%;">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="junior-tab" data-bs-toggle="tab" data-bs-target="#junior" type="button" role="tab" aria-controls="junior" aria-selected="true">Junior High</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="senior-tab" data-bs-toggle="tab" data-bs-target="#senior" type="button" role="tab" aria-controls="senior" aria-selected="false">Senior High</button>
    </li>
   
  </ul>

  <div class="tab-content mt-3" id="myTabContent">
    <div class="tab-pane fade show active" id="junior" role="tabpanel" aria-labelledby="junior-tab">
      <div class="records_container">
        <h5>Junior High Classes Records</h5>
       
        <div class="search mb-2" style="width: 50%;">
          <input class="search_input" type="text" id="search" placeholder="Search (Ctrl + '/' to focus)">
          <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
        </div>

        <!-- 'All' Checkbox -->
        <span>All</span> <input type="checkbox" id="checkAllStudents" />

        <!-- Students Table -->
        <table class="table align-middle mb-0 bg-white">
          <thead>
            <tr>
              <th></th>
              <th>Class</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox" class="instructor-checkbox" /></td>
              <td>7th Grade</td>
              <td><span class="badge bg-success">Active</span></td>
              <td><button class="btn btn-link btn-sm">
                <span>
                  <i class="fa fa-pen"></i>
                 </span> &nbsp;
                 <span class="seniorHigh_delete_btn" style="color: red; cursor: pointer;"><i class="fa fa-trash"></i></span>
                </button>
              </td>              
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Instructors Tab -->
    <div class="tab-pane fade" id="senior" role="tabpanel" aria-labelledby="senior-tab">
      <div class="records_container">
        <h5>Senior High Classes Records</h5>

        <div class="search mb-2" style="width: 50%;">
          <input class="search_input" type="text" id="teacher_search" placeholder="Search (Ctrl + '/' to focus)">
          <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
        </div>

        <!-- 'All' Checkbox -->
        <span>All</span> <input type="checkbox" id="checkAllSeniorClasses" />

        <!-- Instructors Table -->
        <table class="table align-middle mb-0 bg-white">
          <thead>
            <tr>
              <th></th>
              <th>Class</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox" class="instructor-checkbox" /></td>
              <td>12th Grade</td>
              <td><span class="badge bg-success">Active</span></td>
              <td><button class="btn btn-link btn-sm">
                <span>
                  <i class="fa fa-pen"></i>
                 </span> &nbsp;
                 <span class="seniorHigh_delete_btn" style="color: red; cursor: pointer;"><i class="fa fa-trash"></i></span>
                </button>
              </td>              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
  </div>
  </div>
  
    
  </div>

<%- include('layouts/footer') %>
