<%- include('layouts/header')%>
<link rel="stylesheet" href="/css/student.css" />
<style>
   .breadcrumb-item + .breadcrumb-item::before {
      content: " > ";
    }
    .breadcrumb{
      font-family: 'Ubuntu', sans-serif;
      font-weight: 500;
      margin-top: -1.2pc;
    }
</style>
</head>
<body>

 <section class="h-100" style="background-color: #fff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <nav aria-label="breadcrumb" class="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                     <a href="/">Home</a>
                    </li> 
                    <li class="breadcrumb-item">
                     <a href="/dashboard">Dashboard</a>
                    </li> 
                    <li class="breadcrumb-item active" aria-current="page">Transcript</li>
                  </ol>
                </nav>
                <div class="text-center">
                  <h4 class="mt-1 mb-3 pb-1">REQUEST TRANSCRIPT</h4>
                </div>

                <form action="/request-transcript" method="post" id="transcriptForm" autocomplete="off">
                 
                  
                  <div class="mb-4">
                    <label class="form-label" for="fullname">Full Name</label>
                    <input type="text" id="name" name="name" class="form-control" autocomplete="off" placeholder="e.g. provide your name for clearification" />
                  </div>

                  <div class="mb-4">
                    <label class="form-label" for="email">Email</label>
                    <input type="text" id="email" name="email" class="form-control" autocomplete="off" placeholder="e.g. provide your email for communication" />
                  </div>

                  <div class="mb-4">
                    <label class="form-label" for="schoolname">School Name</label>
                    <input type="text" id="school" name="school" class="form-control" autocomplete="off" placeholder="e.g. Rosa Allen School System" />
                  </div>

                  <div class="mb-4">
                    <label class="form-label" for="year">Year of Graduation</label>
                     <select name="year" id="year" class="form-control">
                     </select>
                  </div>

                  <textarea class="form-control" name="message" id="message" cols="30" rows="10" placeholder="Why are you requesting a transcript?" style="height: 150px;" required></textarea>

                  <div class="text-center pt-1 ">
                    <button class="btn btn-primary btn-lg btn-block mb-3" type="submit" style="width: 100%;" id="transcript_btn">Send Request <i class="fa fa-arrow-right" id="right-arrow"></i></button>
                   </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center" style="background: linear-gradient(45deg, #ff416c, #ff4b2b);">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">REQUEST TRANSCRIPT </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  const selectElement = document.getElementById('year');
  const currentYear = new Date().getFullYear();
  const startYear = 1990;
  const btn = document.getElementById('transcript_btn');
  console.log(btn);

  for(let year = currentYear; year >= startYear; year++ ) {
    let option = document.createElement('option');
    option.value = year;
    option.text = year;
    selectElement.appendChild(option);
  }


    document.getElementById('transcriptForm').addEventListener('submit', (e) => {
        e.preventDefault();

        btn.disable;

        const formData = new FormData(e.target); 

        fetch('/request-transcript', {
            method: 'POST',
            body: formData 
        })
        .then(response => response.json()) 
        .then(data => {
            if (data.ok) {
                Swal.fire({
                    title: 'Success!',
                    text: data.message,
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 2000
                }).then(() => {
                    document.getElementById('transcriptForm').reset(); 
                });
            } else {
                Swal.fire({
                    title: 'Error',
                    text: data.message,
                    icon: 'error',
                    showConfirmButton: false,
                    timer: 2000
                });
            }
        })
        .catch(error => {
            Swal.fire({
                title: 'Error',
                text: 'There was a problem sending your request. Please try again later.',
                icon: 'error',
                showConfirmButton: false,
                timer: 2000
            });
            console.error('Error:', error);
        });
    });

   
</script>

<%- include('layouts/footer')%>
