/* css code from material design for the login form */
.gradient-custom-2 {
 /* fallback for old browsers */
 background: #eba147;
 
 /* Chrome 10-25, Safari 5.1-6 */
 background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
 
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
 }
 
 
 @media (min-width: 768px) {
 .gradient-form {
 height: 100vh !important;
 }
 }
 @media (min-width: 769px) {
 .gradient-custom-2 {
 border-top-right-radius: .3rem;
 border-bottom-right-radius: .3rem;
 }
 }

 @media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
 }
 
 /* Sidebar */
 .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 220px;
  z-index: 600;
 }
 
 @media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
 }
 .sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
 }
 
 .sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
 }
 .notice_board {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically if needed */
  width: 100%; /* Make sure it takes full width */
  margin: 20px 0; /* Add some vertical spacing */
 }
 
 .slider-container {
  overflow: hidden; /* Hide overflow to prevent scrolling */
  width: 100%; /* Ensure it takes the full width of the parent */
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center the slider */
 }
 
 .slider {
  display: flex; /* Use flexbox for horizontal sliding */
  transition: transform 0.5s ease; /* Smooth transition */
 }
 


 
 .breadcrumb a{
  color: #888;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
 }
 .breadcrumb a:hover{
  text-decoration: underline;
  color: #888;
 }
 .breadcrumb{
  background-color: #fff;
  margin-bottom: -5px;
  margin-top: -10px;
 }

 #right-arrow{
transition: all 0.5s ease-in-out;  
 }
 #student_btn:hover #right-arrow{
 transform: translateX(10px);
 }